
li, ul{
    display:inline;
    list-style-type:none; 
    margin:0;
    padding:0;
    text-align: right;
}
p{
    padding:.25;
    color:#e6ebe0;
    text-align: center;
}
*{background-color:#c3423f;  align-content: center;
   
}
div{outline-width: 2; outline-color: #e6aace; outline-style: dashed;}
h1,h2{
    text-align: center;
    color:#edd4b2;
}
img{align-items:center;}
