
li, ul{
    display:inline;
    list-style-type:none; 
    margin:0;
    padding:0;
}
p{
    padding: 0.5;
    color:#f6f7eb;
    text-align:center;
}
*{background-color:#264027;  
   
}
div{outline-width:2; outline-color:#d5a021; outline-style:dotted;}

h1,h2{
    text-align:center;
    color:#f6f7eb;
}

.pagelink{color:#d5a021; text-align: right; }

.header{
    display: flex;
    justify-content:space-around;
}

.logo{
    
}

.nav{

}